@import url('https://fonts.googleapis.com/css2?family=Forum&family=Montserrat&display=swap');

#about-page {
  background-color: rgb(63, 63, 63);
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

#about-section {
  margin: 0px 20%;
}

#tech-section {
  margin: 0 10%;
}

#tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}

#tech-list img {
  background-color: rgb(0, 0, 0, 20%);
  border: 1px solid red;
  border-radius: 15px;
  flex: 0 0 21%;
  padding: 5px;
  transition-duration: 500ms;
  max-width: 100px;
}

#tech-list img:hover {
  transform: scale(1.15);
}

/*need mobile formatting for flex direction and section widths*/
@media only screen and (max-width: 600px) {
  #about-section, #tech-section {
    margin: 0;
    gap: 0;
  }
  #tech-list img {
    flex-grow: 1 0 21%;
    max-width: 20%;
  }
}