@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;1,100&family=Rubik+Mono+One&display=swap');

#header-page {
  align-items: flex-end;
  background-image: url("../../assets/Freebie-GradientTextures-02.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

h1 {
  font-size: 5em;
}

h2 {
  font-family: 'Roboto Mono', monospace !important;
  font-size: 2em;
}

.nav-link {
  border: 1px solid #242f43;
  border-radius: 5px;
  background-color: rgba(36, 46, 66, 80%);
  color: white;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  transition-duration: 500ms;
}

.nav-link:hover {
  border: 1px solid #46289a;
  background-color: rgba(70, 40, 154, 80%);
}