@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;1,100&family=Rubik+Mono+One&display=swap');

#header-page {
  background-image: url("../../assets/Freebie-GradientTextures-02.jpg");
  background-size: cover;
}

h1 {
  font-family: 'Rubik Mono One', monospace;
}