@import url('https://fonts.googleapis.com/css2?family=Forum&family=Montserrat&display=swap');

.App {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.section {
  padding: 50px;
  min-height: 86vh;
  background-color: #393a3b;
  color: white;
}

h1, h2 {
  font-family: 'Forum', serif;
}